/* ================= EXPERIENCE SECTION ================= */

.experience{
    width: 100%;

    padding: 120px 120px;

    background-color: #081821;
}

/* CONTAINER */

.experience-container{
    max-width: 1200px;

    margin: auto;
}

/* HEADING */

.experience-container h2{
    font-size: 42px;

    color: #ffffff;

    margin-bottom: 70px;

    position: relative;
}

/* ORANGE UNDERLINE */

.experience-container h2::after{
    content: "";

    position: absolute;

    left: 0;
    bottom: -12px;

    width: 90px;
    height: 4px;

    background-color: #ff6b4a;

    border-radius: 10px;
}

/* TIMELINE */

.timeline{
    position: relative;

    margin-left: 30px;

    border-left: 3px solid rgba(255,255,255,0.1);
}

/* TIMELINE ITEM */

.timeline-item{
    position: relative;

    margin-bottom: 60px;

    padding-left: 50px;
}

/* DOT */

.timeline-dot{
    position: absolute;

    left: -12px;
    top: 8px;

    width: 20px;
    height: 20px;

    background-color: #ff6b4a;

    border-radius: 50%;

    box-shadow: 0 0 15px rgba(255,107,74,0.8);
}

/* CARD */

.timeline-content{
    background-color: #0d1f2b;

    padding: 30px;

    border-radius: 16px;

    border: 1px solid rgba(255,255,255,0.05);

    transition: 0.3s ease;
}

/* HOVER */

.timeline-content:hover{
    transform: translateY(-6px);

    border-color: #ff6b4a;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* DATE */

.timeline-content span{
    color: #ff6b4a;

    font-size: 14px;
}

/* ROLE */

.timeline-content h3{
    color: #ffffff;

    margin-top: 10px;

    font-size: 24px;
}

/* COMPANY */

.timeline-content h4{
    color: #c7c7c7;

    margin-top: 8px;

    font-size: 18px;

    font-weight: 500;
}

/* DESCRIPTION */

.timeline-content p{
    color: #b8b8b8;

    margin-top: 18px;

    line-height: 1.8;

    font-size: 15px;
}